<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 5.0.0
    </div>
    <strong>WMS.BusinessPortal </strong> <p>All rights reserved - &copy; <span id="year"></span><a href="http://www.maciejwolejszo.pl/"> Maciej Wołejszo</a>|| powered by <a href="http://www.csharpowezmagania.pl/">csharpowezmagania.pl</a></p>
    <p>Created with Love in <a href="https://uml.lodz.pl/">Łódź.</a></p>
    <script>
        document.getElementById("year").innerHTML = new Date().getFullYear();
    </script>
</footer>