@model WMS.Models.Invent.CustomerLine

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminlteNetcoreEdit.cshtml";
    }


<div class="row">
    <div class="col-md-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="CustomerLineId" />
                    <div class="form-group">
                        <label asp-for="JobTitle" class="control-label"></label>
                        <input asp-for="JobTitle" class="form-control" />
                        <span asp-validation-for="JobTitle" class="text-danger"></span>
                    </div>
                    <div class="form-group hidden">
                        <label asp-for="CustomerId" class="control-label"></label>
                        <select asp-for="CustomerId" class="form-control select2" asp-items="ViewBag.CustomerId"></select>
                        <span asp-validation-for="CustomerId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MiddleName" class="control-label"></label>
                        <input asp-for="MiddleName" class="form-control" />
                        <span asp-validation-for="MiddleName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NickName" class="control-label"></label>
                        <input asp-for="NickName" class="form-control" />
                        <span asp-validation-for="NickName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Gender" class="control-label"></label>
                        <select asp-for="Gender" class="form-control select2" asp-items="Html.GetEnumSelectList<WMS.Models.Invent.Gender>()"></select>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Salutation" class="control-label"></label>
                        <select asp-for="Salutation" class="form-control select2" asp-items="Html.GetEnumSelectList<WMS.Models.Invent.Salutation>()"></select>
                        <span asp-validation-for="Salutation" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MobilePhone" class="control-label"></label>
                        <input asp-for="MobilePhone" class="form-control" />
                        <span asp-validation-for="MobilePhone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="OfficePhone" class="control-label"></label>
                        <input asp-for="OfficePhone" class="form-control" />
                        <span asp-validation-for="OfficePhone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Fax" class="control-label"></label>
                        <input asp-for="Fax" class="form-control" />
                        <span asp-validation-for="Fax" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PersonalEmail" class="control-label"></label>
                        <input asp-for="PersonalEmail" class="form-control" />
                        <span asp-validation-for="PersonalEmail" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="WorkEmail" class="control-label"></label>
                        <input asp-for="WorkEmail" class="form-control" />
                        <span asp-validation-for="WorkEmail" class="text-danger"></span>
                    </div>
    </div>
</div>








            @section Scripts {
                 @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }



