@model WMS.Models.Invent.PurchaseOrder

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminlteNetcoreDelete.cshtml";
    ViewData["EntityIcon"] = "fa fa-file-text";
    ViewData["DeleteInfo"] = "[Completed] Purchase Order (PO) can not be deleted. Rollback status to [Open] by deleting related Purchase Receive (Receiving)";
    ViewData["IsCanDeleted"] = false;
    if (Model.PurchaseOrderStatus != WMS.Models.Invent.PurchaseOrderStatus.Completed)
    {
        ViewData["IsCanDeleted"] = true;
    }
}


@Html.Partial("_StatusMessage", (string)ViewBag.StatusMessage)
<div>

    <div class="row">
        <div class="col-md-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PurchaseOrderId" />
            <input type="hidden" asp-for="PurchaseOrderNumber" />
            <input type="hidden" asp-for="PurchaseOrderStatus" />
            <div class="row">
                <div class="col-md-12">
                    <small class="text-yellow"><i>Summary</i></small>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="PurchaseOrderNumber" class="control-label"></label>
                        <input disabled asp-for="PurchaseOrderNumber" class="form-control" />
                        <span asp-validation-for="PurchaseOrderNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="top" class="control-label">TOP</label>
                        <select disabled asp-for="top" class="form-control select2" asp-items="Html.GetEnumSelectList<WMS.Models.Invent.TOP>()"></select>
                        <span asp-validation-for="top" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="VendorId" class="control-label">Vendor</label>
                        <select disabled asp-for="VendorId" class="form-control select2" asp-items="ViewBag.vendorId"></select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea disabled asp-for="Description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="PurchaseOrderDate" class="control-label"></label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input disabled asp-for="PurchaseOrderDate" value="@Model.PurchaseOrderDate.ToString("MM/dd/yyyy")" class="form-control pull-right datepicker" type="text" />
                        </div>
                        <span asp-validation-for="PurchaseOrderDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="DeliveryDate" class="control-label"></label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input disabled asp-for="DeliveryDate" value="@Model.DeliveryDate.ToString("MM/dd/yyyy")" class="form-control pull-right datepicker" type="text" />
                        </div>
                        <span asp-validation-for="DeliveryDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="PurchaseOrderStatus" class="control-label"></label>
                        <select disabled asp-for="PurchaseOrderStatus" class="form-control select2" asp-items="Html.GetEnumSelectList<WMS.Models.Invent.PurchaseOrderStatus>()"></select>
                        <span asp-validation-for="PurchaseOrderStatus" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <small class="text-yellow"><i>Address</i></small>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryAddress" class="control-label"></label>
                <textarea disabled asp-for="DeliveryAddress" class="form-control" rows="3"></textarea>
                <span asp-validation-for="DeliveryAddress" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <small class="text-yellow"><i>Property</i></small>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="BranchId" class="control-label">Branch</label>
                        <select disabled asp-for="BranchId" class="form-control select2" asp-items="ViewBag.branchId"></select>
                        <span asp-validation-for="BranchId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ReferenceNumberInternal" class="control-label"></label>
                        <input disabled asp-for="ReferenceNumberInternal" class="form-control" />
                        <span asp-validation-for="ReferenceNumberInternal" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ReferenceNumberExternal" class="control-label"></label>
                        <input disabled asp-for="ReferenceNumberExternal" class="form-control" />
                        <span asp-validation-for="ReferenceNumberExternal" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="PicInternal" class="control-label">Person in charge (Internal)</label>
                        <input disabled asp-for="PicInternal" class="form-control" />
                        <span asp-validation-for="PicInternal" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="PicVendor" class="control-label">Person in charge (Vendor)</label>
                        <input disabled asp-for="PicVendor" class="form-control" />
                        <span asp-validation-for="PicVendor" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group hidden">
                <label asp-for="TotalDiscountAmount" class="control-label"></label>
                <input disabled asp-for="TotalDiscountAmount" class="form-control" />
                <span asp-validation-for="TotalDiscountAmount" class="text-danger"></span>
            </div>
            <div class="form-group hidden">
                <label asp-for="TotalOrderAmount" class="control-label"></label>
                <input disabled asp-for="TotalOrderAmount" class="form-control" />
                <span asp-validation-for="TotalOrderAmount" class="text-danger"></span>
            </div>
            <div class="form-group hidden">
                <label asp-for="PurchaseReceiveNumber" class="control-label"></label>
                <input disabled asp-for="PurchaseReceiveNumber" class="form-control" />
                <span asp-validation-for="PurchaseReceiveNumber" class="text-danger"></span>
            </div>


        </div>
    </div>

</div>
