@model WMS.Models.Invent.TransferIn

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminlteNetcoreEdit.cshtml";
    ViewData["EntityIcon"] = "fa fa-download";
}


<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="TansferInId" />
        <div class="row">
            <div class="col-md-12">
                <small class="text-yellow"><i>Summary</i></small>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="TransferInNumber" class="control-label"></label>
                    <input asp-for="TransferInNumber" class="form-control" disabled />
                    <span asp-validation-for="TransferInNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="TransferInDate" class="control-label"></label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input asp-for="TransferInDate" value="@Model.TransferInDate.ToString("MM/dd/yyyy")" class="form-control pull-right datepicker" type="text" />
                    </div>
                    <span asp-validation-for="TransferInDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="TransferOrderId" class="control-label">Transfer Order #</label>
                    <select asp-for="TransferOrderId" class="form-control select2" asp-items="ViewBag.transferOrderId"></select>
                </div>
            </div>
        </div>
        <div class="form-group has-success">
            <label asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="row hidden">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="BranchIdFrom" class="control-label"></label>
                    <select asp-for="BranchIdFrom" class="form-control select2" asp-items="ViewBag.branchIdFrom"></select>
                    <span asp-validation-for="BranchIdFrom" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="BranchIdTo" class="control-label"></label>
                    <select asp-for="BranchIdTo" class="form-control select2" asp-items="ViewBag.branchIdTo"></select>
                    <span asp-validation-for="BranchIdTo" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row hidden">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="WarehouseIdFrom" class="control-label"></label>
                    <select asp-for="WarehouseIdFrom" class="form-control select2" asp-items="ViewBag.warehouseIdFrom"></select>
                    <span asp-validation-for="WarehouseIdFrom" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="WarehouseIdTo" class="control-label"></label>
                    <select asp-for="WarehouseIdTo" class="form-control select2" asp-items="ViewBag.warehouseIdTo"></select>
                    <span asp-validation-for="WarehouseIdTo" class="text-danger"></span>
                </div>
            </div>
        </div>

    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



