@model WMS.Models.Invent.Branch
@inject WMS.Data.ApplicationDbContext _context;
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminlteNetcoreDelete.cshtml";
    ViewData["EntityIcon"] = "fa fa-building-o";
    ViewData["DeleteInfo"] = "Branch that already have warehouses can not be deleted.";
    WMS.Models.Invent.Warehouse wh = _context.Warehouse.Where(x => x.branchId.Equals(Model.BranchId)).FirstOrDefault();
    ViewData["IsCanDeleted"] = false;
    if (wh == null)
    {
        ViewData["IsCanDeleted"] = true;
    }
}


@Html.Partial("_StatusMessage", (string)ViewBag.StatusMessage)
<div>

    <div class="row">
        <div class="col-md-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BranchId" />
            <div class="row">
                <div class="col-md-12">
                    <small class="text-yellow"><i>Summary</i></small>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group has-success">
                        <label asp-for="BranchName" class="control-label"></label>
                        <input asp-for="BranchName" class="form-control" disabled />
                        <span asp-validation-for="BranchName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control" cols="3" disabled></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <small class="text-yellow"><i>Address</i></small>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group has-success">
                        <label asp-for="Street1" class="control-label"></label>
                        <input asp-for="Street1" class="form-control" disabled />
                        <span asp-validation-for="Street1" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Street2" class="control-label"></label>
                        <input asp-for="Street2" class="form-control" disabled />
                        <span asp-validation-for="Street2" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="City" class="control-label"></label>
                        <input asp-for="City" class="form-control" disabled />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Province" class="control-label"></label>
                        <input asp-for="Province" class="form-control" disabled />
                        <span asp-validation-for="Province" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Country" class="control-label"></label>
                        <input asp-for="Country" class="form-control" disabled />
                        <span asp-validation-for="Country" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <small class="text-yellow"><i>Property</i></small>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="IsDefaultBranch" class="control-label"></label>
                        <div class="checkbox">
                            <input asp-for="IsDefaultBranch" disabled /> &nbsp; Yes.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@section Styles{

    <!-- iCheck -->
    <link rel="stylesheet" href="~/adminlte/plugins/iCheck/all.css" />

}





@section Scripts {
    <!-- iCheck -->
    <script src="~/adminlte/plugins/iCheck/icheck.min.js"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });
        });
    </script>

}