@model WMS.Models.Invent.TransferOut

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminlteNetcoreDelete.cshtml";
    ViewData["EntityIcon"] = "fa fa-upload";
    ViewData["DeleteInfo"] = "Deleting goods issue will rollback the status of transfer order into [Open]. But this process can only happen if goods receive already deleted first.";
}


@Html.Partial("_StatusMessage", (string)ViewBag.StatusMessage)
<div>

    <div class="row">
        <div class="col-md-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TransferOutId" />
            <div class="row">
                <div class="col-md-12">
                    <small class="text-yellow"><i>Summary</i></small>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="TransferOutNumber" class="control-label"></label>
                        <input disabled asp-for="TransferOutNumber" class="form-control" />
                        <span asp-validation-for="TransferOutNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="TransferOutDate" class="control-label"></label>                                             T
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input disabled asp-for="TransferOutDate" value="@Model.TransferOutDate.ToString("MM/dd/yyyy")" class="form-control pull-right datepicker" type="text" />
                        </div>
                        <span asp-validation-for="TransferOutDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="TransferOrderId" class="control-label">Transfer Order #</label>
                        <select disabled asp-for="TransferOrderId" class="form-control select2" asp-items="ViewBag.TransferOrderId"></select>
                    </div>
                </div>
            </div>
            <div class="form-group has-success">
                <label asp-for="Description" class="control-label"></label>
                <textarea disabled asp-for="Description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="row hidden">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="BranchIdFrom" class="control-label"></label>
                        <select disabled asp-for="BranchIdFrom" class="form-control select2" asp-items="ViewBag.branchIdFrom"></select>
                        <span asp-validation-for="BranchIdFrom" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="BranchIdTo" class="control-label"></label>
                        <select disabled asp-for="BranchIdTo" class="form-control select2" asp-items="ViewBag.branchIdTo"></select>
                        <span asp-validation-for="BranchIdTo" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row hidden">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="WarehouseIdFrom" class="control-label"></label>
                        <select disabled asp-for="WarehouseIdFrom" class="form-control select2" asp-items="ViewBag.warehouseIdFrom"></select>
                        <span asp-validation-for="WarehouseIdFrom" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="WarehouseIdTo" class="control-label"></label>
                        <select disabled asp-for="WarehouseIdTo" class="form-control select2" asp-items="ViewBag.warehouseIdTo"></select>
                        <span asp-validation-for="WarehouseIdTo" class="text-danger"></span>
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>
